.center {
	text-align: center;
	margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.productimg {
	width: auto;
	height: auto;
	max-width: 200px;
	max-height: 200px;
}

.productimgdiv {
	width: 200px;
	height: 200px;
	background-color: #CCCCCC;
}