div(ng-include='"components/navbar/navbar.html"')
.container
  .row
    .col-lg-12
      h2.page-header Your Orders
      ul.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6(ng-repeat='order in awesomeOrders')
        li
          // TODO: there needs to be a public order id i forgot.
          a(href='#', tooltip='{{order._id}}')
            p
              | order id: {{order._id}}
            // TODO: we probably need to see some buyer info here not just id
            p
              | buyer: {{order.buyer}}
            span(ng-repeat='lineItem in order.lineItems')
              p
                // TODO: need to generate a public id
                | line item id: {{lineItem._id}}
              p
                // Need to see some product info here.
                | line item prouct: {{lineItem.product}}